html, body {
    height: 100%;
}
/*.center {margin-left:auto; margin-right:auto; display:block;}*/
.center {margin:auto; height: 85%; display:block;}

#logo {
    width: 440px;
}

@media only screen and (max-width : 600px) {
    #logo {
        width: 70%;
    }
}