html, body {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: #1F4A6B;
}

.center {margin:auto; display:block;}

.content {
    margin-top: 140px;
    width: 440px;
}

.links {
    margin-top: 50px;
    color: #8FA4B5;
}

.links a {
    padding: 10px 80px 10px 40px;
    color: #1F4A6B;
    text-decoration: none;
    font-size: 28px;
}

.links a:hover {
    text-decoration: underline;
}

.links a:first-child {
    padding-left: 0px;
}

.links a:last-child {
    padding-right: 0px;
}

@media only screen and (max-width : 600px) {
    .content {
        width: 70%;
    }

    .links {
        margin-top: 40px;
    }

    .links a {
        padding: 10px 40px 10px 10px;
        font-size: 20px;
    }
}

@media only screen and (max-width : 370px) {
    .links a {
        padding: 10px 40px 10px 10px;
        font-size: 13px;
    }
}